body {
    background:black;
    color:white;
    font-family: "Niveau Grotesk", sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    height: 100vh;
    margin: 0;
    gap: 2rem;
}

h1 {
    font-size: 1rem;
    margin: 0;
    line-height: 1;
    color:coral
}

p {
    font-size: 4rem;
    margin: 0;
    max-width: 40ch;
}